__pycache__

*.cover
*.log
*.md
*.pyc
*.pyd
*.pyo
*.yaml

.coverage
.coveragerc
.coverage.*
.cache
.dockerignore
.editorconfig
.env
.env.sample
.flake8
.git
.gitignore
.hypothesis
.idea
.Python
.tox

.github/
.mypy_cache/
.pytest_cache/

coverage.xml
dockerfiles/
env
Makefile
nosetests.xml
pip-log.txt
pip-delete-this-directory.txt
requirements.txt
setup.cfg
src/tests/
